.footer {
  &__container {
    background-color: var(--red);
    height: 10dvh;
    padding-inline: 1rem;
  }
  &__container--inner {
    height: 10dvh;
    width: 70%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__container--inner-copyright {
    font-size: 1.2rem;
  }
  
}